{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}   
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>mainpage</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <link rel="icon" type="image/x-icon" href="../static/assets/Bean2Cup.png"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}?after" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}" />
    </head>
    <body>
<h1>메인 페이지입니다.</h1>
        {% endblock %}
</body>
</html>